body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: white;
}

.wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  text-align: center;
  color: #5f6368;
  width: 60px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #5f6368;
}

a:hover {
  text-decoration: underline;
}

#top-menu, #bottom-menu {
  padding: 3vh 12px;
}

#top-menu {
  font-size: smaller;
  margin-bottom: 23vh;
  color: #212121;
}

#thanks {
  font-size: xx-small;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#grid {
  color: #727272;
}

#grid a:hover {
  text-decoration: none;
  color: black;
}

#main {
  width: 100vw;
}

#logo {
  width: 100vw;
  height: 92px;
  background-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
  background-position: center;
  background-size: 272px 92px;
  background-repeat: no-repeat;
  /*margin-top: 20vh;*/
  margin-bottom: 5vh;
}

#formdiv {
  width: 30%;
  margin: 0 auto;
}

input[type=text] {
  width: 100%;
  background-color: #fff;
  background-image: url("../search.png")
  background-repeat: no-repeat;
  background-position: 6px;
  margin: 3px 0;
}

#buttons {
  width: 80%;
  margin: 0 25%;
  border: 5px solid hotpink;
}

button {
  background-color: #fff;
  color: black;
}

footer {
  background-color: #f2f2f2;
}

footer li {
  width: 90px;
}

#bottom-menu .float-left-longer {
  width: 130px;
}

#bottom-menu .float-right {
  width: 70px;
}

#bottom-menu {
  margin-top: 38vh;
  /*padding-left: 8px;*/
  font-size: smaller;
}


  /* %ask&Y0U$H@ */
